html {
    --color-azul: #0158A3;
    --color-azul-clarito: #0065AC;
    --color-azul-mas-clarito: #75C2EE;
    --color-amarillo: #FFDA00;
    --color-blanco: #ffffff;
    --color-fondo: #FFFEFA;
    --color-negro: #000000;
}

body {
    box-sizing: content-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: auto;
    padding: 5px 10% 5px 10%;
    border: 1px solid;
    border-color: red;
}

.header .logo img {
    height: 70px;
    width: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: start;
}

nav ul li {
    padding: 10px 20px;

}

section {
    border: 2px solid;
    border-color: #0158A3;
    display: flex;
    flex-wrap: wrap;
}


.section-hero .section-mitad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}


div {
    border: 1px solid;
    border-color: #FFDA00;

}