html {
    --color-azul: #0158A3;
    --color-azul-clarito: #0065AC;
    --color-azul-mas-clarito: #75C2EE;
    --color-amarillo: #FFDA00;
    --color-blanco: #ffffff;
    --color-fondo: #FFFEFA;
    --color-negro: #000000;

}

body {
    box-sizing: content-box;
    width: 100%;
    background-color: var(--color-negro);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: auto;
    padding: 5px 10% 5px 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: start;

}

nav ul li {
    padding: 10px 20px;

}

section {
    border: 2px solid;
    border-color: #0158A3;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

div {
    border: 1px solid;
    border-color: #FFDA00;
}