* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.full-width {
    grid-column: 1 / -1;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.grid-three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.grid-three-columns div {
    background-color: #f5f5f5;
    padding: 20px;
}

.grid-three-columns div:first-child {
    grid-column: span 2;
    /* Para que la primera columna sea más ancha */
}

.image {
    background-color: #ccc;
    height: 300px;
}

.button {
    background-color: #fdd835;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}